/ %h3 
/   = @user.name
.topbar
  .company
    .row.company-name
      .large-12.columns
        .name
          = Company.from_email_address(@user.email)
    .row.user-top-menu
      .large-12.columns
        .profile-name
          = @user.name