.splash
  .row
    .large-12.large-centered.columns
      = image_tag "logo.png", class: 'logo'
      .tagline
        Everyone Knows Someone

  .row.login
    .large-12.large-centered.columns
      %h2 Welcome, Please sign in.
      %hr 

      %h4 Login using your Chase Group
      %h4 Google Apps username and password

      %a.link{href: user_omniauth_authorize_path(:google_oauth2) }
