$dark-blue: #1e4a9a;

.topbar {
  background-color: $dark-blue;
  line-height: 2.8125rem;

  .back {
    background: asset-url('back.png') no-repeat center center;
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: 15%;
  }
  .company {
    
    .company-name, 
    .user-top-menu {
      border-bottom: 1px solid #fff;
      height: 2.8125rem;
    }

    .name {
      text-align: right;                
      text-transform: uppercase;      
    }

    .tiny-icon {
      background: asset-url('logo-tiny.png') no-repeat right center;
      position: relative;
    }

    .name,
    .profile-name {        
      font-size: .9rem;
      font-weight: 200;
      color: #fff;
    }

    .profile-name {
      text-align: center;
      font-weight: normal;
      font-size: 1rem;
    }
  }
}

.sub-bar {
  line-height: 2.8125rem;
  text-align: center;
  color: $dark-blue;  
}
