$border-grey-color: #dddddd; 

.sub-bar {
  border-bottom: 1px solid $border-grey-color;
}

.leads {
  .company,
  .product {
    
    .logo,
    .description {
      width: 50%;
      padding: 1rem 1.5rem;
      border-left: 1px solid $border-grey-color;
      border-bottom: 1px solid $border-grey-color;
      height: 200px;
    }

    .logo {
      float: left;
      img {
        max-width: 100%;
        margin: auto;
        display: block;
      }      
    }

    &.even {    
      .logo {
        float: right;  
      }
    }

    .description {
      float: right;
      background-color: #eeeeee;
      

      h3 {
        color: #43494c;
        font-size: 90%;
        font-weight: bold;
      }

      .body {
        height: 125px;
        overflow: hidden;
        font-size: 85%;
      }      
    }

    &.odd {
      .description {
        float: left;
      }
    }
  }
}