$dark-blue: #1e4a9a;

.users {
  .topbar {
    background-color: $dark-blue;
    line-height: 2.8125rem;
    .company {
      
      .company-name, 
      .user-top-menu {
        border-bottom: 1px solid #fff;
        height: 2.8125rem;
      }

      .name {
        text-align: right;                
        text-transform: uppercase;
        background: asset-url('logo-tiny.png') no-repeat right center;
        margin-right: 0.25rem;
        padding-right: 2.5rem;
      }

      .name,
      .profile-name {        
        font-size: .9rem;
        font-weight: 200;
        color: #fff;
      }

      .profile-name {
        // line-height: 2.8125rem;
        text-align: center;
        margin-top: -.75rem;
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }
}