$dark-blue: #1e4a9a;
$light-blue: #3f9dd9;
$light-grey: #cecece;

.users {
  .topbar {
    background-color: $dark-blue;
    line-height: 2.8125rem;
    .company {
      
      .company-name, 
      .user-top-menu {
        border-bottom: 1px solid #fff;
        height: 2.8125rem;
      }

      .name {
        text-align: right;                
        text-transform: uppercase;
        background: asset-url('logo-tiny.png') no-repeat right center;
        margin-right: 0.25rem;
        padding-right: 2.5rem;
      }

      .name,
      .profile-name {        
        font-size: .9rem;
        font-weight: 200;
        color: #fff;
      }

      .profile-name {
        text-align: center;
        margin-top: -.75rem;
        font-weight: normal;
        font-size: 1rem;
      }
    }
  }

  .profile {
    .picture {
      img {
        margin: 3rem auto 1.5rem;
        display: block;
        width: 30%;
      }
    }

    h1,h2 {
      text-align: center;
    }

    h1 {
      color: $light-blue;
      text-align: center;
      font-weight: 200;
      margin-bottom: 0.5rem;
    }

    h2 {
      color: $light-grey;
      font-weight: 100;
    }

    .actions {
      a {
        display: block;
        text-align: center;
        background-color: $dark-blue;
        color: #fff;
        text-align: center;
        padding: 0.75rem;
        margin-bottom: 0.15rem;
        text-decoration: none;
      }
    }
  }
}